<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница очистки кэша</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<h2>   Страница очистки кэш     </h2>
<div>
    <p>
        Чтобы очистить кэш, введите ключ
    <form action="/deletecachefiles" method="DELETE">
        <span th:text = "${key}"/>
        <input name="key" id="key" />
        <button>Очистить</button>
    </form>
    </p>
</div>
</body>
</html>