<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Получение RSS</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<div>
    <table>
        <tr>
            <td class="fixed">
            </td>
            <td>
                <h2>    Получение RSS    </h2>
            </td>
            <td class="fixed">
            </td>
        </tr>
        <tr><td></td><td></td><td></td></tr>
        <tr>
            <td></td>
            <td>

                <p>
                    Скачивание подкаста
                </p>
                <p>

                    <span th:text = "${filename}"/>

                    <form action="/download" method="GET">
                        <input name="filename" id="filename" th:value="${filename}"/>
                        <button> Скачать </button>
                        <img src="images/downloadfile40x40.png"/>
                    </form>

                </p>
                <p>
                    Очистка подготовленного файла из кэша после скачивания

                <form action="/delete" method="POST">
                    <input name="filename" id="filename" th:value="${filename}" type="hidden"/>
                    <input name="_methode" id="_methode" value="DELETE" type="hidden"/>
                    <button> Очистить файл из кэша </button>
                </form>

                </p>

            </td>
            <td></td>
        </tr>

    </table>

</div>
</body>
</html>