<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Получение RSS</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<div>
    <table>
        <tr>
            <td class="fixed">
            </td>
            <td>
                <h2>    Получение RSS    </h2>
            </td>
            <td class="fixed">
            </td>
        </tr>
        <tr><td></td><td></td><td></td></tr>
        <tr>
            <td></td>
            <td>

                <p>
                    Вставьте ссылку на RSS интересующего Вас канала
                    <span th:text = "${greeting}"/>
                </p>
                <p>
                    <form action="/rss" method="POST">
                        <img src="images/rss40x40.png"/>
                        <input name="url" id="url" />
                        <button>Прочитать RSS</button>
                    </form>
                </p>

            </td>
            <td></td>
        </tr>

    </table>

</div>
</body>
</html>