<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Импорт RSS</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<div>
    <table>
        <tr>
            <td class="fixed">
            </td>
            <td colspan="2" class="centered">
                <h2 class="centered">   Подкасты выбранного канала     </h2>
                <img src="images/rss40x40.png"/>
                <span th:text="${channelname}"/>
            </td>
            <td class="fixed">
            </td>
        </tr>
        <tr><td></td><td colspan="2"><hr></td></tr>

        <tr th:each="podcast : ${podcastlist}">
            <form action="/acquire" method="GET" target="downloadwindow">
                <td>

                </td>
                <td>
                    <p>
                        <h3><span th:text="${podcast.title}"/></h3>
                    </p>
                    <p>
                            <table>
                            <tr>
                                <td class="fixed"></td>
                                <td>
                                    <span th:text="${podcast.description}"/>
                                </td>
                                <td class="fixed"></td>
                            </tr>
                            </table>

                    </p>
                    <p>
                        <button> Получить подкаст </button>
                        <img src="images/radio30x40.png"/>
                        <span th:text="${podcast.date}"/>
                    </p>
                    <p>
                        <hr>
                    </p>

                </td>
                <td>
                    <input th:value="${podcast.url}" name="url" type="hidden"/>
                </td>
                <td>
                </td>
            </form>
        </tr>

    </table>

</div>
</body>
</html>