<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница отключения</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<h2>   RSS-подкаст-треккер     </h2>
<div>
    <p>
        Страница отключения
    <form action="/shutdown" method="POST">
        <span th:text = "${key}"/>
        <input name="key" id="key" />
        <button>Остановить</button>
    </form>
    </p>
</div>
</body>
</html>